body {
    margin: 0;

    background-image: url("img/header_image_mobile/Header Image.png");
    background-repeat: no-repeat;
    background-position: center 45px;

    font: 'Open Sans','sans-serif';
    
}

/* Ensures that the seeking is smooth */
html {
    scroll-behavior: smooth !important;
}

/* Style for the nav bar - containing fullsail logo*/
.nav {
    display: flex;
    justify-content: space-between;
}

/* Logo Greys out when hovered and links to home page */
/* Shrinks with page if needed to leave info box visible */
.fullsail_logo {
    flex: 0 1 214px;
    margin: 10px 0px 10px 15px;
    height: 26px;
    position: relative;
    
    background-image: url("img/Logo - Full Color - Mobile.png");
    background-repeat: no-repeat;
}
.fullsail_logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}
.fullsail_logo:hover {
    opacity: 0.6;
    transition: 0.3s;
}

/* Info box linked to request info section, aligned to edge with flexbox */
.request_button {
    flex: 0 0 46px;
    height: 46px;
    position: relative;

    background-color: #FDB913;
    background-image: url(img/Info.png);
    background-repeat: no-repeat;
    background-position: center;
}
.request_button a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header {
    margin-top: 141px;
    height: 79px;
    
    background: #00000099 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    text-align: center;
}
.header > h1 {
    font: normal normal normal 24px/33px Open Sans;
    margin: 0px;
    padding-top:13px;
}
.header > h2 {
    font: normal normal bold 14px/19px Open Sans;
    margin: 0px;
}

.content {
    margin: 0px 15px;
    padding: 43px 0px;
    border-bottom: 1px solid #D6D6D6;
}
.content p {
    font: normal normal normal 14px/26px Open Sans;
    color: #505050;
    margin: 0;
    margin-bottom: 24px
}

.item_detail {
    background-color: #F1F1F0;
    padding: 20px;
    padding-bottom: 40px;
}
.item_detail > h3 {
    color: #505050;
    font: normal normal 300 20px/26px Open Sans;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 20px;
}
#disclaimer {
    background-image: url("img/Icon - Disclaimer - Orange.png");
    background-repeat: no-repeat;
    background-position-y: 5px;
    
    color: #CC4B00;
    text-decoration: underline;
    font: normal normal normal 14px/26px Open Sans;
    margin: 0;
    padding-left: 40px;
}
#disclaimer > a {
    color: #CC4B00;
}

.input {
    margin: 0px 35px;
}
.input > h1 {
    margin: 23px 0px;
    font: normal normal normal 32px/44px Square Serif;
    color: #505050;
}
.input > p {
    margin: 25px 0px;
    font: normal normal normal 14px/26px Open Sans;
    color: #505050;
}
.input b {
    font-weight: bold;
    color: #CC4B00;
}

.divider {
    margin: 32px 0px;
    width: 40px;
    height: 3px;
    background-color: #FDB913;
}

.form_item {
    margin: 9px 0px;
}

label{
    margin: 5px 10px;

    font: normal normal bold 14px/19px Open Sans;
    color: #505050;
}
.required {
    text-decoration: none;
    color: #E65400;
}
.checkbox_text {
    font: normal normal normal 16px/22px Open Sans;
}

input[type=text], select {
    margin: 0;
    width: 100%;
    padding: 5.5px 11px;

    display: inline-block;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-top-width: 0;
    border-right-width: 0;

    font: normal normal normal 14px/16px Arial;
    cursor: pointer;
}

input[type=checkbox] {
    margin-top: 6px;
    margin-bottom: 6px;
    
    height: 20px;
    width: 20px;
    border: 2px solid #505050;
    border-radius: 3px;
    accent-color: #FDB913;
    cursor: pointer;
}

input[type=submit] {
    margin-top: 30px;
    margin-bottom: 35px;
    border: 3px solid #CC4B00;
    padding: 17px 0px;
    width: 100%;

    background: #CC4B00 0% 0% no-repeat padding-box;
    font: normal normal bold 16px/22px Open Sans;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
input[type=submit]:hover {
    background: #FFFFFF;
    color: #505050;
    transition: 0.3s;
}

/* Top footer, lighter grey */
.footer {
    background-color: #505050;
    padding-top: 40px;
}
.footer a {
    color:#FFFFFF;
}

.white_logo {
    
    position: relative;
    height: 40px;
    width: 214px;
    margin: auto;
    background-image: url("img/Logo - White.png");
    background-repeat: no-repeat;
    background-position: center;
}
.white_logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}
.white_logo:hover {
    opacity: 0.6;
    transition: 0.3s;
}


.tagline {
    margin: 32px 0px;
    height: 89px;
    background-image: url("img/mobile/If you’re serious about your dream, we’ll take your dream seriously.TM.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footer > p {
    margin: 0px 15px;
    padding-top: 32px;
    padding-bottom: 14px;
    border-top: 1px solid #626262;
    

    text-align: center;
    font: normal normal normal 12px/19px Open Sans;
    color: #FFFFFF;
}


/* second footer, darker grey */
.subfooter {
    background-color: #454545;
    padding: 20px 0;

    text-align: center;
    font: normal normal normal 11px/15px Open Sans;
    color: #D6D6D6;
}