body {
    margin: 0;

    background-image: url("img/header_image_w_overlay/Header Image.png");
    background-repeat: no-repeat;
    background-position: center 45px;

    font: 'Open Sans','sans-serif';
    
}

html {
    scroll-behavior: smooth !important;
}

.setmargins {
    display: flex;
}

.margin {
    flex: 1 2 375px;
}

.container {
    flex: 0 1 1170px;
    display: flex;
    flex-direction: column;
}

/* Style for the nav bar - containing fullsail logo*/
.nav {
    margin: 10px 0px;
    
    flex: 0 0 26px;
    
    background-image: url("img/Logo - Full Color - Mobile.png");
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text_content {
    
    flex: 0 1 760px;
    
    display: flex;
    flex-direction: column;
}

.headline {
    
    flex: 0 0;

    padding-top: 354px;
    padding-bottom: 37px;
}
.headline > h1 {
    color: #FFFFFF;
    font: normal normal normal 40px/55px Open Sans;
    letter-spacing: 0px;
    margin: 0px;
}
.headline > h2 {
    color: #FDB913;
    font: normal normal bold 18px/24px Open Sans;
    letter-spacing: 0px;
    margin: 0px;
}

.text {
    
    padding: 40px 0;
}
.text > p {
    color: #505050;
    font: normal normal normal 16px/26px Open Sans;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 40px;
}
.text > h3 {
    color: #505050;
    font: normal normal 300 24px/26px Open Sans;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 20px;
}
#disclaimer {
    background-image: url("img/Icon - Disclaimer - Orange.png");
    background-repeat: no-repeat;
    background-position-y: 5px;
    
    color: #CC4B00;
    text-decoration: underline;
    font: normal normal normal 16px/26px Open Sans;
    margin: 0;
    padding-left: 40px;
}
#disclaimer > a {
    color: #CC4B00;
}

.input {
    flex: 0 0 380px;

    background-color: #FFFFFF;
    margin-top: 105px;

    width: 380px;
    height: 575px;
    box-shadow: 0px 3px 6px #00000029;
}
.input > h1 {
    margin: 23px 20px;
    font: normal normal normal 32px/44px Square Serif;
    color: #505050;
}
.input > p {
    margin: 25px 20px;
    font: normal normal normal 16px/26px Open Sans;
    color: #505050;
}
.input b {
    font-weight: bold;
    color: #CC4B00;
}

.divider {
    margin: 32px 20px;
    width: 40px;
    height: 3px;
    background-color: #FDB913;
}

.form_item {
    margin: 9px 20px;
}

label{
    margin: 5px 10px;

    font: normal normal bold 14px/19px Open Sans;
    color: #505050;
}
.required {
    text-decoration: none;
    color: #E65400;
}
.checkbox_text {
    font: normal normal normal 16px/22px Open Sans;
}

input[type=text], select {
    margin: 0;
    width: 100%;
    padding: 5.5px 11px;

    display: inline-block;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-top-width: 0;
    border-right-width: 0;

    font: normal normal normal 14px/16px Arial;
    cursor: pointer;
}

input[type=checkbox] {
    margin-top: 6px;
    margin-bottom: 6px;
    
    height: 20px;
    width: 20px;
    border: 2px solid #505050;
    border-radius: 3px;
    accent-color: #CC4B00;
    cursor: pointer;
}

input[type=submit] {
    margin-top: 30px;
    margin-bottom: 35px;
    border: 3px solid #CC4B00;
    padding: 17px 0px;
    width: 100%;

    background: #CC4B00 0% 0% no-repeat padding-box;
    font: normal normal bold 16px/22px Open Sans;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
input[type=submit]:hover {
    background: #FFFFFF;
    color: #505050;
    transition: 0.3s;
}

/* Style for the first footer */
.footer {
    padding: 40px 375px;
    background-color: #505050;

}

.white_logo {
    padding-top: 40px;
    
    background-image: url("img/Logo - White.png");
    background-repeat: no-repeat;
    background-position: center;
}

.tagline {
    padding-top: 34px;
    padding-bottom: 32px;
    
    background-image: url("img/If you’re serious about your dream, we’ll take your dream seriously.TM.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footer > p {
    padding-top: 32px;
    border-top: 1px solid #626262;
    

    text-align: center;
    font: normal normal normal 12px/19px Open Sans;
    color: #FFFFFF;
}

/* Style for the second footer (darker) */
.subfooter {
    background-color: #454545;
    padding: 20px 0;

    text-align: center;
    font: normal normal normal 11px/15px Open Sans;
    color: #D6D6D6;
}